<div class="country" style="border: 1px solid green; padding: 10px; margin: 5px; border-radius: 4px; width: 50%">
    <label for="start_at"> Country name:</label>
	<input type="text" class="country">
	<input type="button" class="remove_country btn btn-danger" value="Remove counry">
	<label for="start_at"> Languages:</label>
	<input type="button" class="add_language btn btn-warning" value="+ Add language">
	<div class="languages">
	</div>
</div>