<center> <h1>Campaigns Management</h1> </center>
<hr />

<div class="campaign-list" style="margin-left: auto; margin-right: auto; width: 75%">
<div class="actions" style="margin: 10px; float: right">
  <a href="#/new"><button class="btn btn-success">+ Add Campaign</button></a>
</div>
<table id="campaigns-table" class="table table-hover table-bordered table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>
<br/>